* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    background-color: #0f0f0f;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #717171;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}


.header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #0f0f0f;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    cursor: pointer;
}
.logo-icon { color: #ff0000; font-size: 32px !important; }
.country-code { font-size: 10px; color: #aaa; margin-top: -10px; margin-left: 2px;}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.search-bar {
    background: #121212;
    border: 1px solid #303030;
    padding: 0 16px;
    height: 40px;
    border-radius: 20px 0 0 20px;
    color: white;
    width: 400px;
    font-size: 16px;
}

.search-bar:focus {
    border-color: #1c62b9;
    outline: none;
}

.search-btn {
    height: 40px;
    width: 64px;
    background: #222;
    border: 1px solid #303030;
    border-left: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-btn {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 4px;
}
.icon-btn:hover { background-color: #272727; }

.user-avatar {
    width: 32px;
    height: 32px;
    background-color: #5c6bc0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}


.main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}


.sidebar {
    width: 240px;
    background-color: #0f0f0f;
    padding: 12px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.sidebar:hover::-webkit-scrollbar-thumb { background: #717171; }
.sidebar::-webkit-scrollbar-thumb { background: transparent; }

.nav-item {
    text-decoration: none;
    color: white;
    height: 40px;
    padding: 0 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 4px;
}

.nav-item:hover { background-color: #272727; }
.nav-item.active { background-color: #272727; font-weight: 500; }
.nav-item .material-symbols-outlined { margin-right: 20px; font-size: 24px; }
.divider { border: 0; border-top: 1px solid #3f3f3f; margin: 12px 0; }

.content {
    flex: 1;
    background-color: #0f0f0f;
    padding: 24px;
    overflow-y: auto;
}


.chips-wrapper {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
    overflow-x: auto;
    padding-bottom: 5px;
}
.chips-wrapper::-webkit-scrollbar { height: 0; }

.chip {
    background-color: #272727;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.3s;
}
.chip:hover { background-color: #3f3f3f; }
.chip.active { background-color: #f1f1f1; color: #0f0f0f; }

.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.video-card {
    flex: 1 1 340px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    margin-bottom: 20px;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    position: relative;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333;
    transition: border-radius 0s linear;
}
.video-card:hover .thumbnail { border-radius: 0; }

.thumb-dm { background-image: url('https://i.ytimg.com/vi/aGSKrC7dGcY/maxresdefault.jpg'); }

.thumb-cs { background-image: url('https://i.ytimg.com/vi/vdXveK6G70g/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDZy1CjfWubE8AnignvVVlqY3XJGA'); }

.thumb-it { background-image: url('https://i.ytimg.com/vi/pEfrdAtAmqk/maxresdefault.jpg'); }




.duration {
    position: absolute;
    bottom: 6px;
    right: 6px;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}





.video-info {
    display: flex;
    gap: 12px;
    position: relative;
}

.channel-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #555;
    flex-shrink: 0;

    background-size: cover;
    background-position: center;
}

.icon-dm { background-color: #800080; }
.icon-cs { background-image: url('https://yt3.googleusercontent.com/ytc/AIf8zZQ2XN_c6c55qRk0h6kZ51z0079-79k9642882=s176-c-k-c0x00ffffff-no-rj'); }



.details {
    flex: 1;
}

.details .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    color: #f1f1f1;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.details .channel-name, .details .meta {
    font-size: 14px;
    color: #aaa;
    line-height: 1.3;
}

.details .channel-name:hover { color: white; }

.more-btn {
    background: none;
    border: none;
    color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.video-card:hover .more-btn { color: white; }


@media (max-width: 1000px) {
    .sidebar { width: 72px; padding: 4px; }
    .nav-item { flex-direction: column; height: 70px; justify-content: center; gap: 5px; font-size: 10px; }
    .nav-item .material-symbols-outlined { margin: 0; font-size: 26px; }
    .divider, .logo { display: none; }
    .header-left .menu-btn { display: block; }
    .video-card { max-width: none; }
}